/* 
.home_section {
    width: calc(100% - 200px);
    /* height: 100vh; */
    /* max-height: 800px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* font-family: var(--font-sans); */
    /* margin-top: 30px;
}


.greet {
    font-family: var(--font-mono);
    font-size: var(--fz-xl);
    color: var(--green);
    margin: 10px 0;
}

*/

.container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: calc(100vh - 200px);
}

.right{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.img , .img_border{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 10px;
}


.img_border{
/* 
    width: 15rem;
     height: 15rem; */
     border: 2px solid rgb(8, 213, 111);
    position: absolute;
     border-radius: 10px;
    margin-top: 2rem;
    margin-left: 2rem;
    z-index: -1;
}



.img:hover ~ .img_border {
    transition: var(--transition); 
    margin : 0 ;
}


.btn {
    outline: none;
     font-size: var(--fz-md);
  background: transparent;
    border: 1px solid var(--green);
    /* background-color: aqua; */
    color: var(--white);
      border-radius: 5px;
   padding: 15px 20px;
    width: 200px;
    cursor: pointer;
    margin-top: 15px;
}

.btn:hover {
    background: var(--green);
    color: black;
} 

.desc {
    font-size: var(--fz-md);
    width: 65%;
}


.heading_1 {
    /* font-size: 80px; */
    margin: 0;
    color: var(--green);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.heading_3 {

    /* font-size: 65px; */
    margin: 2;
    color: var(--lightest-slate);


}
.heading_2 {

    margin: 2;
    color: var(--lightest-slate);

}
