.contact_container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.phone{
    font-size: var(--fz-xxl);

}
.email {
    font-family: var(--font-sans);
    font-size: var(--fz-xxl);
    letter-spacing: 1px;
    margin: 0;
    cursor: pointer;
    transition: var(--transition);
}

.icons{
    display: flex;
}
.icon {
    margin: 15px;
    cursor: pointer;
    transition: var(--transition);
    width: 100px;
}


.icon:hover {
    color: var(--green);
    transform: translateY(-3px);
}